<h1>Say#Hello</h1>
<p>Find me in app/views/say/Hello.html.erb</p>
<p>
Godzina <%= Time.now %>
</p>
<FORM METHOD=POST ACTION="mailto:"perszing@icpnet.pl" ENCTYPE="text/plain">
Liczba 1:     <INPUT L1="liczba1" VALUE="">
Liczba 2:     <INPUT L2="liczba2" VALUE="">
Liczba 3:     <INPUT L3="liczba3" VALUE="">
Liczba 4:     <INPUT L4="liczba4" VALUE="">
Liczba 5:     <INPUT L5="liczba5" VALUE="">
<INPUT TYPE="submit" VALUE="Wyślij">
<INPUT TYPE="submit" VALUE="Remove all">
</FORM>
